<!-- Hereda del archivo html base que incluye el navbar y footer -->
{% extends 'base.html' %}

<!-- Carga los archivos estaticos -->
{% load static %}

{% block title %} Pago exitoso {% endblock title %}

{% block css %}
<style>
    /* Hacer que el contenedor principal llene la altura de la pantalla */
    body, html {
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    /* Contenedor que abarque el contenido */
    main {
        flex: 1;
        padding: 50px; /* Agregar margen interno para que el texto no esté pegado a los bordes */
        box-sizing: border-box;
    }

    /* Footer al final de la página */
    footer {
        background-color: #962b6b; /* Color de fondo del footer */
        color: #ffffff;
        padding: 10px;
        text-align: center;
    }
</style>
{% endblock css %}

{% block content %}

<main>
    <h1>Pago Cancelado</h1>
    <p>Has cancelado el proceso de pago. No se ha realizado ningún cargo y el servicio no ha sido reservado.</p>

    <h3>¿Tuviste problemas para completar el pago?</h3>
    <p>Algunos motivos comunes para la cancelación de pagos son:</p>
    <ul>
        <li>Problemas con el método de pago</li>
        <li>Interrupciones en la conexión</li>
        <li>Decisión de posponer la compra</li>
    </ul>

    <h3>¿Necesitas ayuda?</h3>
    <p>Si tienes algún problema o necesitas asistencia, contáctanos en:</p>
    <p>Email: soporte@decorent.com</p>
    <p>Teléfono: +52 123 456 7890</p>
</main>

{% endblock content %}