<!-- Hereda del archivo html base que incluye el navbar y footer -->
{% extends 'base.html' %}

<!-- Carga los archivos estaticos -->
{% load static %}

{% block title %} Publicar Servicio {% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/publicar_servicio.css' %}">
{% endblock css %}

{% block js %}
<!-- Script JavaScript para limpiar datos del formulario -->
<script>
  function limpiarFormulario() {
    document.getElementById("miFormulario").reset(); // Resetea todos los campos del formulario
  }
</script>
{% endblock js %}

{% block content %}

<!-- Formulario para ingresar los datos de tu publicación -->
<form id="miFormulario" class="add-services" method="POST" enctype="multipart/form-data">
  <!-- Sección Información de la publicación -->
  <section class="containers-add-services sec-1">
    <h2>Información de la publicación</h2>
    <div class="buttons-containers">
      <button type="button" onclick="limpiarFormulario()" class="btn btn-primary add-btn">Limpiar</button>
      <button type="submit" class="btn btn-primary add-btn">Publicar</button>
    </div>
  </section>

  {% csrf_token %}

  <!-- Sección para ingresar tus datos -->
  <section class="containers-add-services sec-2">
    <div class="services-information item">
      <label for="id_nombre" class="text-label">Nombre del servicio:</label>
      <input type="text" name="nombre" class="config-input" maxlength="255" required="" id="id_nombre">
    </div>
    <div class="services-information item">
      <label for="id_calle" class="text-label">Calle:</label>
      <input type="text" name="calle" class="config-input" maxlength="255" required id="id_calle">
    </div>
    <div class="services-information item">
      <label for="id_numero_exterior" class="text-label">Numero exterior:</label>
      <input type="text" name="numero_exterior" class="config-input" maxlength="10" required id="id_numero_exterior">
    </div>
    <div class="services-information item">
      <label for="id_numero_interior" class="text-label">Numero interior:</label>
      <input type="text" name="numero_interior" class="config-input" maxlength="10" id="id_numero_interior">
    </div>
    <div class="services-information item">
      <label for="id_categoria" class="text-label sel-label">Categoria:</label>
      <select name="categoria" class="select-service" maxlength="255" id="id_categoria">
        <option value="Entretenimiento">Entretenmiento</option>
        <option value="Equipamiento_Mobiliario">Equipamiento y mobiliario</option>
        <option value="Espacios_Eventos">Espacios para eventos</option>
        <option value="Catering">Catering</option>
        <option value="Fotografia">Fotografía</option>
        <option value="Decoracion">Decoración</option>
        <option value="Otro">Otro</option>
      </select>
    </div>
    <div class="services-information item">
      <label for="id_colonia" class="text-label">Colonia:</label>
      <input type="text" name="colonia" class="config-input" maxlength="255" required id="id_colonia">
    </div>
    <div class="services-information item">
      <label for="id_codigo_postal" class="text-label">Codigo postal:</label>
      <input type="text" name="codigo_postal" class="config-input" maxlength="10" required id="id_codigo_postal">
    </div>
    <div class="services-information item">
      <label for="id_precio_minimo" class="text-label">Precio minimo:</label>
      <input type="number" name="precio_minimo" class="config-input" step="0.01" required id="id_precio_minimo">
    </div>
  </section>

  <!-- Sección para la información detallada de tu producto -->
  <section class="containers-add-services sec-3">
    <label for="id_informacion_detallada" class="lab-sec-3">Informacion detallada:</label>
    <textarea name="informacion_detallada" cols="40" rows="10" class="area-sec-3" required
      id="id_informacion_detallada"></textarea>
  </section>
  {{ error }}
  <!-- Sección para ingresar las fotos de tu producto -->
  <section class="containers-add-services sec-4">
    <label for="id_imagen" class="lab-sec-4">Carga de imágenes:</label>
    <div class="upload-container">
      <input type="file" name="imagen" multiple required id="id_imagen">
    </div>
  </section>
</form>

{% endblock content %}