<!-- Hereda del archivo html base que incluye el navbar y footer -->
{% extends 'base.html' %}

<!-- Carga los archivos estaticos -->
{% load static %}

{% block title %} Publicar Servicio {% endblock title %}

{% block css %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/publicar_servicio.css' %}">
{% endblock css %}

{% block js %}
<!-- Script JavaScript para limpiar datos del formulario -->
<script>
  function limpiarFormulario() {
    document.getElementById("miFormulario").reset(); // Resetea todos los campos del formulario
  }
</script>
{% endblock js %}

{% block content %}

<!-- Formulario para ingresar los datos de tu publicación -->
<form id="miFormulario" class="add-services">
  <!-- Sección Información de la publicación -->
  <section class="containers-add-services sec-1">
    <h2>Información de la publicación</h2>
    <div class="buttons-containers">
      <button type="button" onclick="limpiarFormulario()" class="btn btn-primary add-btn">Limpiar</button>
      <button type="button" class="btn btn-primary add-btn">Eliminar</button>
      <button type="submit" class="btn btn-primary add-btn">Publicar</button>
    </div>
  </section>

  <!-- Sección para ingresar tus datos -->
  <section class="containers-add-services sec-2">
    <div class="services-information item">
      <label class="text-label">Nombre del servicio:</label>
      <input type="text" class="config-input" required>
    </div>
    <div class="services-information item">
      <label class="text-label">Calle:</label>
      <input type="text" class="config-input" required>
    </div>
    <div class="services-information item">
      <label class="text-label">Número exterior:</label>
      <input type="text" class="config-input" required>
    </div>
    <div class="services-information item">
      <label class="text-label">Número interior:</label>
      <input type="text" class="config-input">
    </div>
    <div class="services-information item">
      <label class="text-label sel-label">Tipo de servicio:</label>
      <select name="service-type" class="select-service">
        <option value="" required>Tipo de servicio</option>
        <option value="tipo1">Tipo 1</option>
        <option value="tipo2">Tipo 2</option>
        <option value="tipo3">Tipo 3</option>
      </select>
    </div>
    <div class="services-information item">
      <label class="text-label">Colonia:</label>
      <input type="text" class="config-input" required>
    </div>
    <div class="services-information item">
      <label class="text-label">Código Postal:</label>
      <input type="text" class="config-input" required>
    </div>
    <div class="services-information item">
      <label class="text-label">Precio mínimo:</label>
      <input type="text" class="config-input" required>
    </div>
    <div class="services-information item">
      <label class="text-label">Precio máximo:</label>
      <input type="text" class="config-input" required>
    </div>
  </section>

  <!-- Sección para la información detallada de tu producto -->
  <section class="containers-add-services sec-3">
    <label class="lab-sec-3">Información detallada:</label>
    <textarea class="area-sec-3"></textarea>
  </section>

  <!-- Sección para ingresar las fotos de tu producto -->
  <section class="containers-add-services sec-4">
    <label class="lab-sec-4">Carga de imágenes:</label>
    <div class="upload-container">
      <input type="file" accept="image/*">
    </div>
  </section>
</form>

{% endblock content %}
