{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  <link rel="icon" href="{% static 'images/logoICONO.ico' %}" type="image/x-icon">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Archivo CSS personalizado -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/globales.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/servicios_sin_login.css' %}">

  <!-- Fuentes de Google -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  
</head>

<body>
  <!-- Barra de navegación -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}"><img class=logo src="{% static 'images/logoDR.png' %}" alt="Logo"
          width="100" height="auto" margin-left="5"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-left">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'servicios_sin_login' %}">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'acerca_de' %}">Acerca de</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'perfil' %}">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'cerrar_sesion' %}">Cerrar sesión</a>
          </li>
          {% if user.es_proveedor and user.proveedor.stripe_account_id == None %}
          <li>
            <!-- Boton para crear cuenta en Stripe -->
            <button type="button" id="create-stripe-account-button" class="btn btn-primary">Crear cuenta de Stripe</button>
          </li>
          {% elif user.es_proveedor %}
          <li>
            <!-- Boton para ir al Stripe Dashboard -->
            <a href="{% url 'stripe_dashboard_link' %}" class="btn btn-primary">Ir a mi Stripe Dashboard</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <button class="btn btn-notifications ms-2" onclick="toggleNotifications()">
              <img src="{% static 'images/icono_notificacion.jpg' %}" style="width: 25px; height: auto;">
              <!-- Icono del botón -->
            </button>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'inicio_sesion' %}">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'registro_cliente' %}" class="btn btn-primary">Únete</a>
          </li>
          {% endif %}

        </ul>
      </div>
    </div>
  </nav>

  <!-- Menú de Notificaciones -->
  <div id="notificationDropdown" class="notification-dropdown">
    <button class="btn-close" onclick="toggleNotifications()">&times;</button>
    <h5>Notificaciones</h5>

    {% for notificacion in notificaciones %}

    {% if notificacion.tipo_notificacion == 'Solicitud de Presupuesto' %}
    <div class="notification">
      <p>{{ notificacion.tipo_notificacion }}</p>
      <h5>{{ notificacion.solicitud.cliente.nombre_completo }}</h5>
      <h5>Solicita:</h5>
      <h5> {{ notificacion.solicitud.servicio.nombre }} </h5>
      <br>
      <button class="btn-details" data-bs-toggle="modal" data-bs-target="#detailsModal"
        onclick="loadSolicitudDetails('{{ notificacion.solicitud.id }}', false, false)">Ver detalles</button>
    </div>
    {% elif notificacion.tipo_notificacion == 'Respuesta de Solicitud' %}
    <div class="notification">
      <p>{{ notificacion.tipo_notificacion }}</p>
      <h5> {{ notificacion.solicitud.servicio.nombre }} </h5>
      <h6> {{ notificacion.solicitud.proveedor.nombre_empresa }} </h6>
      <br>
      <button class="btn-details" data-bs-toggle="modal" data-bs-target="#answerModal"
        onclick="loadSolicitudDetails('{{ notificacion.solicitud.id }}', true)">Ver detalles</button>
    </div>
    {% elif notificacion.tipo_notificacion == 'Confirmacion de Pago' %}
    <div class="notification">
      <p>{{ notificacion.tipo_notificacion }}</p>
      {% if user.es_proveedor %}
      <h5>{{ notificacion.solicitud.cliente.nombre_completo }}</h5>
      <h5>Contrató:</h5>
      {% else %}
      <h5>Contrataste:</h5>
      {% endif %}
      <h5> {{ notificacion.solicitud.servicio.nombre }} </h5>
      <br>
      <button class="btn-details" data-bs-toggle="modal" data-bs-target="#confirmModal"
        onclick="loadSolicitudDetails('{{ notificacion.solicitud.id }}', false, true)">Ver detalles</button>
    </div>
    {% elif notificacion.tipo_notificacion == 'Calificar Servicio' %}
    <div class="notification">
      <p>{{ notificacion.tipo_notificacion }}</p>
      <h5 style="font-size: 12px; color: gray; margin-bottom: 5px;">Califica el servicio que contrataste:</h5>
      <h5> {{ notificacion.solicitud.servicio.nombre }} </h5>
      <h6> {{ notificacion.solicitud.proveedor.nombre_empresa }} </h6>
      <br>
      <button class="btn-details" data-bs-toggle="modal" data-bs-target="#rateServiceModal" onclick="loadCalificarServicio('{{ notificacion.solicitud.id }}')">Calificar</button>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <!-- Modal para Ver Detalles de la Solicitud -->
  <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="detailsModalLabel">Solicitud de servicio</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <h3 id="serviceName">Nombre del servicio</h3>
          <div>
            <span style="font-size: 20px;">Solicitado por:</span>
            <span id="clientName" style="font-size: 20px;">Nombre del cliente</span>
            <span id="providerName" class="hidden">Nombre del proveedor oculto</span>
            <span id="providerContact" class="hidden">Contacto del proveedor oculto</span>
          </div>
          <div>
            <span>Contacto:</span> 
            <span id="clientContact">Contacto del cliente</span>
          </div>
          <br>
          <h6>Información del evento:</h6>
          <form>
            <div class="row mb-3">
              <div class="col-md-3">
                <label for="guestCount" class="form-label">Cantidad de invitados:</label>
                <input type="number" class="form-control" id="guestCount" readonly>
              </div>
              <div class="col-md-3">
                <label for="eventDuration" class="form-label">Duración del evento (horas):</label>
                <input type="number" class="form-control" id="eventDuration" readonly>
              </div>
              <div class="col-md-3">
                <label for="eventDate" class="form-label">Fecha:</label>
                <input type="date" class="form-control" id="eventDate" readonly>
              </div>
              <div class="col-md-3">
                <label for="eventType" class="form-label">Tipo de evento:</label>
                <input type="text" class="form-control" id="eventType" readonly>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-12">
                <label for="eventAddress" class="form-label">Dirección:</label>
                <input type="text" class="form-control" id="eventAddress" readonly>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <label for="contractPrice" class="form-label">Precio de contratación:</label>
                <input type="number" class="form-control" id="contractPrice" required>
              </div>
            </div>

            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-primary me-2 " onclick="responderSolicitud()">Aceptar</button>
              <button type="button" class="btn btn-primary me-2 " onclick="rechazarSolicitud()">Rechazar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para Ver la Respuesta de Solicitud -->
  <div class="modal fade" id="answerModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="detailsModalLabel">Solicitud de servicio</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <h3 id="serviceNameAnswer">Nombre del servicio</h3>
          <span id="providerNameAnswer" style="font-size: 20px;">Nombre del proveedor</span>
          <div>
            <span>Contacto:</span> 
            <span id="providerContactAnswer">Contacto del proveedor</span>
          </div>
          <p id="clientNameAnswer" class="hidden">Nombre del cliente oculto</p>
          <p id="clientContactAnswer" class="hidden">Contacto del cliente oculto</p>
          <br>
          <h6>Información del evento:</h6>
          <form>
            <div class="row mb-3">
              <div class="col-md-3">
                <label class="form-label">Cantidad de invitados:</label>
                <input type="number" class="form-control" id="guestCountAnswer" readonly>
              </div>
              <div class="col-md-3">
                <label class="form-label">Duración del evento (horas):</label>
                <input type="number" class="form-control" id="eventDurationAnswer" readonly>
              </div>
              <div class="col-md-3">
                <label class="form-label">Fecha:</label>
                <input type="date" class="form-control" id="eventDateAnswer" readonly>
              </div>
              <div class="col-md-3">
                <label class="form-label">Tipo de evento:</label>
                <input type="text" class="form-control" id="eventTypeAnswer" readonly>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-12">
                <label class="form-label">Dirección:</label>
                <input type="text" class="form-control" id="eventAddressAnswer" readonly>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-4">
                <label class="form-label">Subtotal:</label>
                <input type="number" class="form-control" id="contractPriceAnswer" readonly>
              </div>
              <div class="col-md-4">
                <label class="form-label">IVA (8%):</label>
                <input type="number" class="form-control" id="ivaAnswer" readonly>
              </div>
              <div class="col-md-4">
                <label class="form-label">Precio de contratación:</label>
                <input type="number" class="form-control" id="totalAnswer" readonly>
              </div>

            </div>
            <p>Estado: Pendiente</p>

            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-primary " style="margin-right: 20px;" id="checkout-button">Contratar</button>
              <button type="button" class="btn btn-primary me-2 " onclick="rechazarRespuesta()">Rechazar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para Ver la Confirmacion de un pago -->
  <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="detailsModalLabel">Solicitud de servicio</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <h3 id="serviceNameConfirm">Nombre del servicio</h3>
          {% if user.es_proveedor %}
          <div>
            <span style="font-size: 20px;">Solicitado por:</span>
            <span id="clientNameConfirm" style="font-size: 20px;">Nombre del cliente</span>
            <span id="providerNameConfirm" class="hidden">Nombre del proveedor</span>
            <span id="providerContactConfirm" class="hidden">Contacto del proveedor</span>
          </div>
          <div>
            <span>Contacto:</span> 
            <span id="clientContactConfirm">Contacto del cliente</span>
          </div>
          {% else %}
          <div>
            <span id="clientNameConfirm" class="hidden">Nombre del cliente</span>
            <span id="clientContactConfirm" class="hidden">Contacto del cliente</span>
            <span id="providerNameConfirm" style="font-size: 20px;">Nombre del proveedor</span>
          </div>
          <div>
            <span>Contacto:</span> 
            <span id="providerContactConfirm">Contacto del proveedor</span>
          </div>
          {% endif %}
          <br>
          <h6>Información del evento:</h6>
          <form>
            <div class="row mb-3">
              <div class="col-md-3">
                <label class="form-label">Cantidad de invitados:</label>
                <input type="number" class="form-control" id="guestCountConfirm" readonly>
              </div>
              <div class="col-md-3">
                <label class="form-label">Duración del evento (horas):</label>
                <input type="number" class="form-control" id="eventDurationConfirm" readonly>
              </div>
              <div class="col-md-3">
                <label class="form-label">Fecha:</label>
                <input type="date" class="form-control" id="eventDateConfirm" readonly>
              </div>
              <div class="col-md-3">
                <label class="form-label">Tipo de evento:</label>
                <input type="text" class="form-control" id="eventTypeConfirm" readonly>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-12">
                <label class="form-label">Dirección:</label>
                <input type="text" class="form-control" id="eventAddressConfirm" readonly>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-4">
                <label class="form-label">Subtotal:</label>
                <input type="number" class="form-control" id="contractPriceConfirm" readonly>
              </div>
              <div class="col-md-4">
                <label class="form-label">IVA (8%):</label>
                <input type="number" class="form-control" id="ivaConfirm" readonly>
              </div>
              <div class="col-md-4">
                <label class="form-label">Precio de contratación:</label>
                <input type="number" class="form-control" id="totalConfirm" readonly>
              </div>
            </div>
            <p>Estado: Pagado</p>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para calificar el servicio -->
  <div class="modal fade" id="rateServiceModal" tabindex="-1" aria-labelledby="rateServiceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="rateServiceModalLabel">Calificar el servicio contratado</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="reviewForm">
            <div class="mb-3">
                <h3 id="serviceNameRating">Nombre del servicio</h3>
                <p id="providerNameRating">Nombre del proveedor</p>
                <label for="ratingStars" class="form-label">Calificación:</label>
                <select class="form-select" id="ratingStars" name="ratingStars" required>
                    <option value="" disabled selected>Seleccionar estrellas</option>
                    <option value="0">☆☆☆☆☆</option>
                    <option value="1">★☆☆☆☆</option>
                    <option value="2">★★☆☆☆</option>
                    <option value="3">★★★☆☆</option>
                    <option value="4">★★★★☆</option>
                    <option value="5">★★★★★</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="comment" class="form-label">Comentario (opcional):</label>
                <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-primary me-2" onclick="submitReview()">Enviar reseña</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </form>
        
        </div>
      </div>
    </div>
  </div>

  <!-- Título de servicios -->
  <div class="container mt-5">
    <p id="error" class="error hidden">Algo salió mal</p>
    <h2 class="text-center">Nuestros Servicios</h2>

    <!-- Formulario para filtrar servicios por categoría -->
    <form method="GET" action="{% url 'servicios_sin_login' %}">
      <div class="mb-3">
        <label for="categoria">Filtrar por categoría:</label>
        <select name="categoria" class="form-select" aria-label="Selecciona una categoría"
          style="width: 270px; margin: 10px 0;" onchange="this.form.submit()">
          <option {% if not categoria_seleccionada or categoria_seleccionada == 'Todas las categorias' %}selected{% endif %}>Todas las categorias</option>
          <option value="Entretenimiento" {% if categoria_seleccionada == 'Entretenimiento' %}selected{% endif %}>Entretenimiento</option>
          <option value="Equipamiento_Mobiliario" {% if categoria_seleccionada == 'Equipamiento_Mobiliario' %}selected{% endif %}>Equipamiento y mobiliario</option>
          <option value="Espacios_Eventos" {% if categoria_seleccionada == 'Espacios_Eventos' %}selected{% endif %}>Espacios para eventos</option>
          <option value="Catering" {% if categoria_seleccionada == 'Catering' %}selected{% endif %}>Catering</option>
          <option value="Fotografia" {% if categoria_seleccionada == 'Fotografia' %}selected{% endif %}>Fotografía</option>
          <option value="Decoracion" {% if categoria_seleccionada == 'Decoracion' %}selected{% endif %}>Decoración</option>
          <option value="Otro" {% if categoria_seleccionada == 'Otro' %}selected{% endif %}>Otro</option>
        </select>
      </div>
    </form>


    <!-- Acordeón para categorías -->
    <div class="accordion" id="accordionCategorias">
      {% if user.is_authenticated and user.es_proveedor and user.proveedor.stripe_account_id == None %}
      <p style="text-align: center;">Aviso: Para publicar un servicio, crea una cuenta en stripe con el boton de arriba</p>
      {% endif %}
      {% if user.es_proveedor and user.proveedor and user.proveedor.stripe_account_id %}
      <!-- Seccion de servicios para usuario proveedor -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="categoriaHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#categoriaContent1"
            aria-expanded="true" aria-controls="categoriaContent1">
            Mis servicios <i class="fas fa-chevron-down"></i>
          </button>
        </h2>
        <div id="categoriaContent1" class="accordion-collapse collapse show" aria-labelledby="categoriaHeading1">
          <div class="accordion-body">
            <div class="row mt-4">
              {% for servicio in servicios %}
              {% if servicio.proveedor == user.proveedor %}
              <div class="col-md-2 mb-4">
                <div class="service-box text-center p-3">
                  {% if servicio.imagenes.first %}
                  <img src="{{ servicio.imagenes.first.imagen.url }}" alt="{{ servicio.nombre }}"
                    class="img-fluid mb-2">
                  {% else %}
                  <img src="{% static 'images/default-image.jpg' %}" alt="Imagen no disponible" class="img-fluid mb-2">
                  {% endif %}
                  <h5>{{ servicio.nombre }}</h5>
                  <div class="service-info">
                    <div class="rating">
                      <div class="rating">
                        {% for i in "12345" %}
                        {% if forloop.counter <= servicio.promedio_calificacion %} <span class="estrella">★</span>
                          {% else %}
                          <span class="estrella">☆</span>
                          {% endif %}
                          {% endfor %}
                          <span> {{servicio.promedio_calificacion}} </span>
                      </div>
                    </div>
                    <div class="price">Desde ${{ servicio.precio_minimo }}</div>
                  </div>
                  <a href="{% url 'publicacion_servicio' servicio.id %}" class="btn btn-add mt-2">Ver</a>
                </div>
              </div>
              {% endif %}
              {% endfor %}

              <!-- Contenedor para agregar un nuevo servicio -->
              <div class="col-md-2 mb-4">
                <div class="service-box text-center p-3">
                  <h5>Añadir Servicio</h5>
                  <div class="service-info">
                    <div class="rating">⭐⭐⭐⭐☆</div>
                    <div class="price">Desde $XXXX</div>
                  </div>
                  <a href="{%url 'publicar_servicio'%}" class="btn btn-add mt-2">Agregar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      <!-- Seccion de servicios para todos los usuarios -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="categoriaHeading2">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#categoriaContent2"
            aria-expanded="true" aria-controls="categoriaContent2">
            Servicios <i class="fas fa-chevron-down"></i>
          </button>
        </h2>
        <div id="categoriaContent2" class="accordion-collapse collapse show" aria-labelledby="categoriaHeading2">
          <div class="accordion-body">
            <div class="row mt-4">
              <!-- Lista de servicios -->
              <div class="row mt-4">
                {% for servicio in servicios %}
                {% if servicio.proveedor != user.proveedor %}
                <div class="col-md-2 mb-4">
                  <div class="service-box text-center p-3">
                    {% if servicio.imagenes.first %}
                    <img src="{{ servicio.imagenes.first.imagen.url }}" alt="{{ servicio.nombre }}"
                      class="img-fluid mb-2">
                    {% else %}
                    <img src="{% static 'images/default-image.jpg' %}" alt="Imagen no disponible"
                      class="img-fluid mb-2">
                    {% endif %}
                    <h5>{{ servicio.nombre }}</h5>
                    <div class="service-info">
                      <div class="rating">
                        {% for i in "12345" %}
                        {% if forloop.counter <= servicio.promedio_calificacion %} <span class="estrella">★</span>
                          {% else %}
                          <span class="estrella">☆</span>
                          {% endif %}
                          {% endfor %}
                          <span> {{servicio.promedio_calificacion}} </span>
                      </div>
                      <div class="price">Desde ${{ servicio.precio_minimo }}</div>
                    </div>
                    {% if user.is_authenticated %}
                      <a href="{% url 'publicacion_servicio' servicio.id %}" class="btn btn-add mt-2">Ver</a>
                    {% else %}
                      <a href="{% url 'inicio_sesion' %}" class="btn btn-add mt-2">Ver</a>
                    {% endif %}

                  </div>
                </div>
                {% endif %}
                {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 <!-- Pie de página -->
<footer>
  <div class="container text-center">
      <p>&copy; 2024 DecoRent. Todos los derechos reservados.</p>
      <ul class="list-inline">
          <li class="list-inline-item"><a href="#" data-bs-toggle="modal" data-bs-target="#terminosModal">Términos de Servicio</a></li>
          <li class="list-inline-item"><a href="#" data-bs-toggle="modal" data-bs-target="#privacidadModal">Política de Privacidad</a></li>
          <li class="list-inline-item"><a href="#" data-bs-toggle="modal" data-bs-target="#contactoModal">Contacto</a></li>
      </ul>
  </div>
</footer>
   <!-- Modales -->
  <!-- Términos de Servicio Modal -->
  <div class="modal fade" id="terminosModal" tabindex="-1" aria-labelledby="terminosModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="terminosModalLabel">Términos de Servicio</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Bienvenido a DecoRent, la plataforma en línea dedicada a la renta de servicios para eventos especiales. Al acceder o utilizar nuestro sitio web y servicios, aceptas cumplir con estos Términos de Servicio. Por favor, léelos cuidadosamente antes de proceder.<br><br>
            1. Aceptación de los Términos<br>
            Al registrarte y utilizar DecoRent, aceptas estos Términos de Servicio en su totalidad. Nos reservamos el derecho de modificar o actualizar estos términos en cualquier momento. Cualquier cambio entrará en vigor una vez publicado en nuestro sitio, y al continuar usando los servicios, aceptas estos cambios.<br><br>
            2. Uso Permitido<br>
            DecoRent está destinado a usuarios que buscan organizar eventos mediante la renta de servicios. Los usuarios deben actuar de buena fe y proporcionar información precisa en sus reservas. Queda prohibido el uso de la plataforma para cualquier actividad que infrinja la ley o que vaya en contra de los intereses de DecoRent o sus usuarios.<br><br>
            3. Registro de Usuarios y Seguridad<br>
            Al registrarte en DecoRent, eres responsable de mantener la confidencialidad de tus datos de acceso. Eres responsable de todas las actividades realizadas bajo tu cuenta. DecoRent no se hace responsable de cualquier acceso no autorizado a tu cuenta si no tomaste las medidas adecuadas para proteger tu información.<br><br>
            4. Servicios de Terceros<br>
            DecoRent actúa como intermediario para conectar a clientes con proveedores de servicios para eventos. No garantizamos la disponibilidad ni la calidad de los servicios prestados por terceros. Los proveedores de servicios son responsables de cumplir con los compromisos acordados. En caso de problemas o reclamaciones sobre el servicio, DecoRent ofrecerá asistencia para facilitar la resolución.<br><br>
            5. Política de Reservas y Pagos<br>
            Los usuarios pueden realizar reservas de servicios de manera anticipada. Los precios, términos de pago y políticas de cancelación estarán especificados en el momento de la reserva. Es importante que el usuario revise todos los detalles antes de confirmar cualquier transacción.<br><br>
            6. Limitación de Responsabilidad<br>
            DecoRent no será responsable por daños directos, indirectos, incidentales o consecuentes que puedan surgir del uso de nuestra plataforma o de los servicios ofrecidos. DecoRent no se hace responsable por incumplimientos o daños derivados de los servicios prestados por proveedores externos.<br><br>
            7. Propiedad Intelectual<br>
            Todos los materiales, contenido y diseño del sitio son propiedad de DecoRent y están protegidos por derechos de autor. Queda prohibida su reproducción, distribución o modificación sin el consentimiento expreso de DecoRent.<br><br>
            8. Modificaciones a los Términos<br>
            DecoRent se reserva el derecho de actualizar o modificar estos Términos de Servicio en cualquier momento. Las actualizaciones se publicarán en nuestro sitio web y recomendamos a los usuarios revisar regularmente esta página para mantenerse informados.<br><br>
            9. Contacto<br>
            Si tienes preguntas o comentarios sobre estos Términos de Servicio, no dudes en contactarnos a través de nuestra página de contacto o enviando un correo a contacto@decorent.com. Estaremos encantados de atenderte y resolver cualquier duda.<br><br>
            Al aceptar estos Términos de Servicio, declaras que has leído, comprendido y estás de acuerdo con todas las condiciones aquí expuestas. Gracias por elegir DecoRent. Nos esforzamos en ofrecer una experiencia excepcional para que tus eventos sean memorables y exitosos.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Política de Privacidad Modal -->
  <div class="modal fade" id="privacidadModal" tabindex="-1" aria-labelledby="privacidadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="privacidadModalLabel">Política de Privacidad</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            En DecoRent, respetamos tu privacidad y nos comprometemos a proteger los datos personales que nos compartes. Esta Política de Privacidad describe cómo recopilamos, utilizamos y protegemos tu información, y tus derechos en relación con ella.<br><br>
            1. Información que Recopilamos<br>
            Para proporcionarte nuestros servicios, podemos recopilar información personal como tu nombre, dirección de correo electrónico, número de teléfono y detalles específicos del evento que deseas organizar. Estos datos son necesarios para gestionar tus reservas y ofrecerte una experiencia personalizada.<br><br>
            2. Uso de la Información<br>
            La información personal que recopilamos se utiliza para procesar tus solicitudes de reserva, coordinar servicios con los proveedores, y mejorar nuestra plataforma para ofrecerte una experiencia óptima. También podemos utilizar tu información para enviarte comunicaciones importantes sobre tu reserva o notificaciones sobre actualizaciones relevantes de nuestros servicios.<br><br>
            3. Protección de Datos<br>
            Empleamos medidas de seguridad físicas y electrónicas avanzadas para proteger tu información personal contra el acceso no autorizado, pérdida o alteración. Solo el personal autorizado de DecoRent y nuestros proveedores de servicios tienen acceso a estos datos, siempre bajo estrictas condiciones de confidencialidad.<br><br>
            4. Compartición de Información con Terceros<br>
            Compartimos tus datos personales únicamente con proveedores de servicios seleccionados, cuando es necesario para llevar a cabo el servicio contratado (por ejemplo, para coordinar la entrega de un servicio en la fecha de tu evento). Nos aseguramos de que estos proveedores cumplan con altos estándares de confidencialidad y seguridad.<br><br>
            5. Cookies y Tecnologías Similares<br>
            DecoRent puede utilizar cookies y tecnologías similares para mejorar la experiencia de usuario en nuestro sitio web. Estas herramientas nos permiten recordar tus preferencias y realizar un seguimiento de la navegación para optimizar el rendimiento de nuestra plataforma.<br><br>
            6. Tus Derechos<br>
            Tienes derecho a acceder, rectificar o eliminar tus datos personales en cualquier momento. Si deseas actualizar tu información o tienes dudas sobre cómo gestionamos tus datos, puedes contactarnos y te asistiremos en todo momento.<br><br>
            7. Modificaciones a esta Política<br>
            DecoRent puede actualizar esta Política de Privacidad para reflejar cambios en nuestras prácticas o por razones legales. Te notificaremos de cualquier cambio publicando la versión actualizada en esta página.<br><br>
            Gracias por confiar en DecoRent para la organización de tus eventos. Estamos comprometidos a proteger tu privacidad y a proporcionarte una experiencia segura y de calidad.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Contacto Modal -->
  <div class="modal fade" id="contactoModal" tabindex="-1" aria-labelledby="contactoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="contactoModalLabel">Contacto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Estamos aquí para ayudarte. Puedes ponerte en contacto con nosotros a través del formulario a continuación o utilizar los siguientes datos:<br><br>
            <strong>Correo Electrónico:</strong> contacto@decorent.com<br>
            <strong>Teléfono:</strong> +52 (123) 456-7890<br>
            <strong>Dirección:</strong> Calle Principal 123, Ciudad Juárez, Chihuahua, México<br><br>
            Nuestro equipo está disponible de lunes a viernes de 9:00 a.m. a 6:00 p.m., y los sábados de 10:00 a.m. a 2:00 p.m.
          </p>
          <hr>
          <form>
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" required>
            </div>
            <div class="mb-3">
              <label for="correo" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" id="correo" required>
            </div>
            <div class="mb-3">
              <label for="mensaje" class="form-label">Mensaje</label>
              <textarea class="form-control" id="mensaje" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script> <!-- Para usar las flechas -->
  <!-- Stripe JS -->
  <script src="https://js.stripe.com/v3/"></script>

  {% if notificaciones %}
  <script>
    var stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');

    /**
     * Funcion implementada por Alan
     * Maneja el evento de clic en el botón de checkout.
     * 
     * Esta función realiza una solicitud POST al servidor para crear una sesión de checkout con Stripe
     * utilizando el ID de la solicitud asociado al botón. Una vez creada la sesión, redirige al usuario
     * a Stripe para completar el pago. Si ocurre un error, se muestra un mensaje de alerta y se registra
     * en la consola.
     * 
     * @event click
     * @function
     * @returns {void}
     */
    document.getElementById("checkout-button").addEventListener("click", function () {
      // Obtiene el ID de la solicitud desde el atributo "data-solicitud-id" del botón
        const solicitudId = this.getAttribute("data-solicitud-id");

        // Realiza una solicitud POST al servidor para crear una sesión de checkout
        fetch(`/Servicios/create_checkout_session/${solicitudId}/`, {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}", // Incluye el token CSRF para proteger la solicitud
            },
        })
        .then(response => response.json()) 
        .then(data => {
            if (data.error) {
                // Muestra un mensaje de error si la respuesta contiene un error
                alert(data.error);
                return;
            }
            // Redirige a Stripe para completar el pago
            return stripe.redirectToCheckout({ sessionId: data.id });
        })
        .catch((error) => {
            console.error("Error:", error);
        });
    });
  </script>
  {% endif %}

  <script>
    let connectedAccountId = null;
    const stripeButton = document.getElementById("create-stripe-account-button");

    /**
     * Funcion implementada por Alan
     * Maneja la creación de una cuenta connect en Stripe al hacer clic en el botón.
     * 
     * Este script verifica si el botón de Stripe existe en la página. Cuando se hace clic en el botón,
     * realiza una solicitud POST a la vista de Django para crear una cuenta connect en Stripe.
     * Si hay un error, muestra un mensaje de error. En caso de éxito, oculta el botón de creación
     * y redirige al usuario para completar el proceso en Stripe.
     * 
     * @event click
     * @function
     * @returns {void}
     */
    if (stripeButton) { // Verifica si el botón existe
      stripeButton.onclick = async function () {
      document.getElementById("error").classList.add("hidden");

      // Llama a la vista de Django para crear la cuenta conectada en Stripe
      fetch("{% url 'create_account' %}", {
        method: "POST",
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
          "Content-Type": "application/json",
        },
      })
        .then(response => response.json())
        .then(data => {
          if (data.error) {
            document.getElementById("error").classList.remove("hidden");
            document.getElementById("error").innerText = data.error;
            return;
          }
          // Obtiene el ID de la cuenta conectada de Stripe
          connectedAccountId = data.account;

          // Oculta el botón de creación de cuenta
          document.getElementById("create-stripe-account-button").classList.add("hidden");

          // Llama a la función para crear el enlace de la cuenta y redirigir al usuario
          createAccountLinkAndRedirect(connectedAccountId);
        });
    };
    }

    /**
     * Funcion implementada por Alan
     * Crea un enlace para la cuenta de Stripe y redirige al usuario.
     * 
     * Esta función realiza una solicitud POST a la vista de Django para generar un enlace de cuenta connect
     * en Stripe. Si hay un error, muestra un mensaje en la interfaz de usuario. Si la solicitud es exitosa,
     * redirige al usuario a la URL proporcionada por Stripe para completar la configuración de su cuenta connect.
     * 
     * @function createAccountLinkAndRedirect
     * @param {string} accountId - El ID de la cuenta connect en Stripe.
     * @returns {void}
     */
    function createAccountLinkAndRedirect(accountId) {
      fetch("{% url 'create_account_link' %}", {
        method: "POST",
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ account: accountId }),
      })
        .then(response => response.json())
        .then(data => {
          if (data.error) {
            document.getElementById("error").classList.remove("hidden");
            document.getElementById("error").innerText = data.error;
            return;
          }

          // Redirige al usuario a la URL de Stripe para completar la información de su cuenta
          window.location.href = data.url;
        });
    }

    function toggleNotifications() {
      var dropdown = document.getElementById('notificationDropdown');
      dropdown.style.display = dropdown.style.display === 'none' || dropdown.style.display === '' ? 'block' : 'none';
    }

    function updateClientModalContent(serviceName, providerName) {
      document.getElementById("clientDetailsModalLabel").textContent = serviceName;
      // Código para actualizar el modal del cliente
    }

    function updateModalContent(serviceName, clientName) {
      document.getElementById("detailsModalLabel").textContent = serviceName;
      // Código para actualizar el modal del proveedor
    }

    /**
     * Funcion implementada por Alan
     * Carga los detalles de una solicitud y actualiza los valores en el modal correspondiente.
     *
     * Esta función realiza una solicitud AJAX para obtener los detalles de una solicitud específica
     * utilizando su ID. Los datos recibidos se asignan a los elementos del modal para mostrar
     * la información al usuario. Adicionalmente, soporta la actualización de diferentes modales
     * mediante prefijos en los IDs de los elementos HTML.
     *
     * @function loadSolicitudDetails
     * @param {number} solicitudId - El ID de la solicitud que se desea cargar.
     * @param {boolean} [isAnswerModal=false] - Indica si los datos deben ser asignados al modal de respuesta.
     * @param {boolean} [isConfirmModal=false] - Indica si los datos deben ser asignados al modal de confirmación.
     * @returns {void}
     */
    function loadSolicitudDetails(solicitudId, isAnswerModal = false, isConfirmModal = false) {
      // Define el prefijo para diferenciar los IDs de los modales
      const modalPrefix = (isAnswerModal ? 'Answer' : '') + (isConfirmModal ? 'Confirm' : '');
      console.log("modalPrefix: " + modalPrefix);

      // Asigna el ID de la solicitud para que se pueda acceder en la funcion responderSolicitud()
      document.getElementById("detailsModal").setAttribute("data-solicitud-id", solicitudId);

      // Asigna el ID de la solicitud para que se pueda acceder en la funcion rechazarSolicitud()
      document.getElementById("answerModal").setAttribute("data-solicitud-id", solicitudId);

      // Realiza una solicitud AJAX para obtener los detalles de la solicitud
      fetch(`/Solicitudes/obtener_solicitud/${solicitudId}/`)
        .then(response => response.json())
        .then(data => {
          console.log(data);
          // Asigna los valores a los elementos correctos, usando el prefijo si es el segundo modal
          document.getElementById("serviceName" + modalPrefix).textContent = data.servicio;
          document.getElementById("providerName" + modalPrefix).textContent = data.proveedor;
          document.getElementById("providerContact" + modalPrefix).textContent = data.proveedor_contacto;
          document.getElementById("clientName" + modalPrefix).textContent = data.cliente;
          document.getElementById("clientContact" + modalPrefix).textContent = data.cliente_contacto;
          document.getElementById("guestCount" + modalPrefix).value = data.personas;
          document.getElementById("eventDuration" + modalPrefix).value = data.duracion;
          document.getElementById("eventDate" + modalPrefix).value = data.fecha;
          document.getElementById("eventType" + modalPrefix).value = data.tipo_evento;
          document.getElementById("eventAddress" + modalPrefix).value = data.direccion;

          // Actualiza el precio si existe
          document.getElementById("contractPrice" + modalPrefix).value = data.precio ? data.precio : '';
          document.getElementById("iva" + modalPrefix).value = data.precio ? (data.precio*0.08).toFixed(2) : '';
          document.getElementById("total" + modalPrefix).value = data.precio ? (data.precio*1.08).toFixed(2) : '';

          // Establece el solicitud_id en el botón "Contratar"
          document.getElementById("checkout-button").setAttribute("data-solicitud-id", solicitudId);
        })
        .catch(error => console.error('Error al cargar los detalles de la solicitud:', error));
    }

    /**
     * Funcion implementada por Alan
     * Envía una solicitud al servidor para responder a una solicitud específica al cliente 
     * con el precio especificado.
     *
     * Esta función obtiene el ID de la solicitud y el precio introducido por el proveedor,
     * y realiza una solicitud POST al servidor para responder a la solicitud. Si la respuesta
     * es exitosa, muestra un mensaje de confirmación y recarga la página para actualizar las notificaciones.
     * En caso de error, muestra un mensaje de alerta.
     *
     * @function responderSolicitud
     * @returns {void}
     */
    function responderSolicitud() {
      const solicitudId = document.getElementById("detailsModal").getAttribute("data-solicitud-id");
      const precio = document.getElementById("contractPrice").value;

      fetch(`/Solicitudes/responder_solicitud/${solicitudId}/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': getCookie('csrftoken')  // Para enviar el token CSRF
        },
        body: JSON.stringify({ precio: precio })
      })
        .then(response => response.json())
        .then(data => {
          if (data.status === 'success') {
            alert('Solicitud respondida exitosamente');
            location.reload();  // Recarga la página para actualizar las notificaciones
          } else {
            alert('Error al responder la solicitud');
          }
        })
        .catch(error => console.error('Error:', error));
    }

    /**
     * Funcion implementada por Alan
     * Envía una solicitud al servidor para rechazar una solicitud específica.
     *
     * Esta función obtiene el ID de la solicitud desde el modal y realiza una solicitud POST
     * al servidor para marcar la solicitud como rechazada. Si la respuesta es exitosa,
     * muestra un mensaje de confirmación y recarga la página para reflejar los cambios.
     * En caso de error, muestra un mensaje de alerta.
     *
     * @function rechazarSolicitud
     * @returns {void}
     */
    function rechazarSolicitud() {
      const solicitudId = document.getElementById("detailsModal").getAttribute("data-solicitud-id");

      fetch(`/Solicitudes/rechazar_solicitud/${solicitudId}/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': getCookie('csrftoken')  // Para enviar el token CSRF
        },
      })
        .then(response => response.json())
        .then(data => {
          if (data.status === 'success') {
            alert('Solicitud rechazada exitosamente');
            location.reload();  // Recarga la página para actualizar las notificaciones
          } else {
            alert('Error al rechazar la solicitud');
          }
        })
        .catch(error => console.error('Error:', error));
    }

    /**
     * Funcion implementada por Alan
     * Envía una solicitud al servidor para rechazar la respuesta del proveedor a una solicitud específica.
     *
     * Esta función obtiene el ID de la solicitud desde el modal de respuesta y realiza una solicitud POST
     * al servidor para marcar la respuesta como rechazada. Si la operación es exitosa, muestra un mensaje
     * de confirmación y recarga la página para reflejar los cambios. En caso de error, muestra un mensaje
     * de alerta.
     *
     * @function rechazarRespuesta
     * @returns {void}
     */
    function rechazarRespuesta() {
      const solicitudId = document.getElementById("answerModal").getAttribute("data-solicitud-id");

      fetch(`/Solicitudes/rechazar_respuesta/${solicitudId}/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': getCookie('csrftoken')  // Para enviar el token CSRF
        },
      })
        .then(response => response.json())
        .then(data => {
          if (data.status === 'success') {
            alert('Solicitud rechazada exitosamente');
            location.reload();  // Recarga la página para actualizar las notificaciones
          } else {
            alert('Error al rechazar la solicitud');
          }
        })
        .catch(error => console.error('Error:', error));
    }

    /**
     * Funcion implementada por Alan
     * Obtiene el valor de una cookie especificada por su nombre.
     * 
     * Esta función busca en el documento todas las cookies almacenadas y, si encuentra una 
     * que coincida con el nombre proporcionado, devuelve su valor. Si no se encuentra 
     * ninguna cookie con el nombre especificado, devuelve `null`.
     * 
     * @function getCookie
     * @param {string} name - El nombre de la cookie que se desea obtener.
     * @returns {string|null} El valor de la cookie si existe, o `null` si no se encuentra.
     */
    function getCookie(name) {
      let cookieValue = null;

      // Verifica si hay cookies definidas en el documento
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';'); // Divide las cookies en un array

        // Itera a través de las cookies para encontrar la que coincida con el nombre
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim(); // Elimina los espacios en blanco alrededor de la cookie

          // Verifica si la cookie actual comienza con el nombre proporcionado
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            // Decodifica el valor de la cookie y lo asigna a cookieValue
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break; // Sale del bucle si se encuentra la cookie
          }
        }
      }
      return cookieValue; // Retorna el valor de la cookie o null si no se encontró
    }


    /**
     * Funcion implementada por Alan
     * Carga los detalles del servicio en el modal de calificación.
     *
     * Esta función asigna el ID de la solicitud al modal de calificación para su uso posterior 
     * y realiza una solicitud AJAX para obtener los detalles del servicio relacionado con la 
     * solicitud. Los datos obtenidos se utilizan para rellenar el modal con el nombre del servicio 
     * y el nombre del proveedor.
     *
     * @function loadCalificarServicio
     * @param {number} solicitudId - El ID de la solicitud que se desea cargar.
     * @returns {void}
     */
    function loadCalificarServicio(solicitudId) {
      // Asigna el ID del servicio para que se pueda acceder en la funcion submitReview()
      document.getElementById("rateServiceModal").setAttribute("data-solicitud-id", solicitudId);

      // Realiza una solicitud AJAX para obtener los detalles del servicio
      fetch(`/Solicitudes/obtener_solicitud/${solicitudId}/`)
        .then(response => response.json())
        .then(data => {
          console.log(data);
          // Asigna el nombre de servicio y proveedor al modal de calificación
          document.getElementById("serviceNameRating").textContent = data.servicio;
          document.getElementById("providerNameRating").textContent = data.proveedor;
        })
        .catch(error => console.error('Error al cargar los detalles de la solicitud:', error));
    }

  /**
   * Funcion implementada por Alan
   * Envía una reseña para un servicio específico y actualiza la interfaz según el resultado.
   * 
   * Esta función recoge la calificación (estrellas) y el comentario del usuario desde el modal 
   * de calificación y realiza una solicitud POST al servidor para guardar la reseña. 
   * Deshabilita el botón de envío mientras se procesa la solicitud para evitar envíos duplicados.
   * En caso de éxito, recarga la página; si ocurre un error, muestra un mensaje de alerta y 
   * vuelve a habilitar el botón.
   * 
   * @function submitReview
   * @returns {void}
   */
  function submitReview() {
      const submitReviewButton = document.querySelector('#rateServiceModal .btn-primary');
      submitReviewButton.disabled = true;  // Deshabilitar el botón al hacer clic

      const solicitudId = document.getElementById("rateServiceModal").getAttribute("data-solicitud-id");
      const ratingStars = document.getElementById('ratingStars').value;
      const comment = document.getElementById('comment').value;
      //const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  
      fetch(`/Servicios/servicio/${solicitudId}/agregar_reseña/`, {
          method: 'POST',
          headers: {
              'X-CSRFToken': "{{ csrf_token }}",
              'Content-Type': 'application/json',
          },
          body: JSON.stringify({
              ratingStars: ratingStars,
              comment: comment,
          }),
      })
      .then(response => response.json())
      .then(data => {
        console.log("Datos recibidos del servidor:", data);
        if (data.status === 'success') {
            alert('Servicio calificado exitosamente');
            location.reload();  // Recarga la página para actualizar las notificaciones
          } else {
            alert('Error al calificar el servicio ' + data.error);
          }
      })
      .catch(error => {
          console.error('Error en la solicitud:', error);
          alert("Hubo un problema al enviar la reseña. Detalles: " + error.message);
          submitReviewButton.disabled = false; // Habilitar el botón si hay error
      });
  }
  </script>
</body>

</html>