# Virtualenv
venv/
env/

# Python compiled files
__pycache__/
*.py[cod]

# Django stuff
*.sqlite3
media/
#Esta linea evita las migraciones
**/migrations/ 

# Environment variables
.env

# IDE specific files
.vscode/
.idea/