/*Estilos propios de pantalla de inicio. Emiliano*/
.container {
    height: auto; /* Asegúrate de que se ajuste al contenido */
    min-height: 100vh; /* Asegúrate de que al menos ocupe la altura completa de la ventana */
  }
  
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
.text-area {
    flex: 1;
}

.text-area p{
    padding-top: 20px;
    font-size: 50px;
}
.btn-secondary{
    width: 200px; /* Ancho fijo */
    height: 60px;
    font-size: 2rem; 
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 250px;
    border-radius: 20px;
}

.carousel-inner img {
    max-height: 400px; /* Ajusta según tus necesidades */
    object-fit: cover; /* Para que las imágenes se ajusten sin distorsionarse */
  }

  #carouselExample {
    width: 150px; /* Ajusta el ancho para la forma del carrusel */
    max-height: 500px; /* Controla la altura visible del carrusel */
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    flex-direction: column; /* Alinea las imágenes en una columna para el formato vertical */
}

.custom-img {
    width: 100%; /* Ajusta las imágenes para que ocupen todo el ancho del carrusel */
    height: 120px; /* Controla la altura de cada imagen */
    object-fit: cover; /* Ajusta la imagen sin distorsión */
    border-radius: 10px;
    margin-bottom: 10px; /* Espacio entre imágenes */
}