/*Estilos propios de pantalla de Registro proveedor. Saul*/
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-form {
    background-color: #eaeaea;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin-top: 250px;
}

.register-form h2 {
    color: #1d1d1d;
    margin-bottom: 20px;
    text-align: center;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.register-form label {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
    color: #333;
    text-align: center;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.checkbox-group label {
    width: 50%;
    font-size: 14px;
    margin-bottom: 10px;
}

.register-form button.register-btn {
    background-color: #6a008a;
    color: #fff;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.register-form .google-register {
    text-align: center;
    margin-top: 50px;
}

.google-btn {
    background-color: #fff;
    color: #000000;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.google-logo{
    width: 20px; /* Adjust the size as needed */
    height: auto;
    margin-right: 10px; /* Space between the logo and the text */
}

.register-form p {
    text-align: center;
    margin-top: 20px;
}

.register-form a {
    color: #6a008a;
    text-decoration: none;
}