/* perfil.css */

/* Asegura que el contenedor principal ocupe toda la altura de la pantalla */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.img-fluid {
    border: 2px solid #007bff;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
}

.nav-tabs .nav-link {
    font-weight: bold;
  }
  
  .table th, .table td {
    text-align: center;
    vertical-align: middle;
  }
  
  h3 {
    color: #007bff;
  }
  
  .mt-5 {
    margin-top: 3rem !important;
  }

  .container {
    flex: 1;
  }
  
  .list-group-item {
    background-color: #f9f9f9;
    margin-bottom: 10px;
  }

  .btn-details {
    background-color: #962b6b;
    /* Color del botón */
    color: white;
    /* Color del texto */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    font-size: 0.7rem;
    /* Tamaño de fuente más pequeño */
  }

  .btn-details:hover {
    background-color: #7c224d;
    /* Color más claro al pasar el mouse */
  }