.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.service-header, .company-details, .contact-info, .description {
    margin-bottom: 20px;
}

.contact-info {
    margin-top: 20px;
}

/* Ajuste de botones en acción */
.action-section {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.img-fluid {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Estilo de botones */
.quote-btn, .message-btn {
    background-color: #6c27b7;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.quote-btn:hover, .message-btn:hover {
    background-color: #5a2195;
}

/* Sección del mapa */
.container2 {
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.map-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.map img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 50px;
}

/* Sección de reseñas */
.reviews-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0 auto;
}

.review-card {
    width: 300px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.rating .estrella {
    font-size: 18px;
    color: rgb(231, 202, 39);
}

/* Ajustes de carrusel */
.carousel-inner img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    object-position: center;
    border-radius: 10px;
}

#carouselServicio {
    max-width: 100%;
    overflow: hidden;
}

.carousel-control-prev,
.carousel-control-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: white; /* Fondo blanco */
    border-radius: 50%; /* Forma circular */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* Sombra */
    z-index: 10; /* Asegura que esté por encima */
    position: absolute; /* Asegura la posición sobre las imágenes */
    top: 50%; /* Centrado verticalmente */
    transform: translateY(-50%); /* Asegura el centro exacto */
}

.carousel-control-prev {
    left: 10px; /* Ajusta la posición hacia la izquierda */
}

.carousel-control-next {
    right: 10px; /* Ajusta la posición hacia la derecha */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 50%; /* Tamaño adecuado para las flechas */
    filter: invert(0); /* Negro predeterminado */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo más claro al pasar el mouse */
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.7); /* Sombra más fuerte al pasar el mouse */
}
