:root {
    --main-font-color: #000000;
    --main-bg-color: #ffffff;
    --font-family: 'Montserrat', sans-serif;
    --heading-size: 2.5rem;
    --text-size: 1.2rem;
}

/* Global styles */
body {
    font-family: var(--font-family);
    color: var(--main-font-color);
    background-color: var(--main-bg-color); /* Cambiar a un color de fondo definido */
}

h1 {
    font-size: var(--heading-size);
    color: var(--main-font-color);
}

p {
    font-size: var(--text-size);
}

/* Estilos del botón */
.btn {
    background-color: #582168; /* Utiliza la variable definida */
    color: white; /* Color del texto */
    border: none;
}

.btn-primary:hover {
    background-color: #9e4ab8; /* Color al pasar el mouse */
}

/* Navbar styles */
.navbar {
    background-color: #eaeaea; /* Cambiar si deseas usar una variable */
}

.navbar-brand, .nav-link {
    font-size: 1rem;
    color: var(--main-font-color) !important;
}

.navbar-toggler-icon {
    background-color: var(--main-font-color); /* Cambiar de color a un fondo */
}

/* Estilos del footer */
footer {
    background-color: rgba(150, 43, 107, 0.9); /* Color de fondo del pie de página más opaco */
    color: white; /* Color del texto */
    text-align: center; /* Centra el texto */
    padding: 5px 0; /* Espaciado interno ajustado */
    position: relative; /* Asegura que se posicione correctamente */
    bottom: 0; /* Posición en la parte inferior */
    width: 100%; /* Ancho completo */
    max-height: 80px; /* Limita la altura máxima */
    overflow: hidden; /* Oculta el contenido que excede el max-height */
    margin-top: 40px;
}

footer p {
    margin: 0; /* Elimina el margen del párrafo */
    font-size: 1.4em; /* Tamaño de fuente del texto de derechos de autor */
}

footer a {
    color: white; /* Color de los enlaces */
    text-decoration: none; /* Elimina el subrayado */
    font-size: 0.98em; /* Tamaño de fuente de los enlaces */
}

footer a:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el ratón */
}

footer .list-inline {
    padding: 0; /* Elimina el espaciado */
    margin: 0; /* Elimina el margen */
}

footer .list-inline-item {
    display: inline; /* Alinea los elementos de la lista en línea */
    margin: 0 5px; /* Espaciado entre los enlaces ajustado */
}