<!-- Hereda del archivo html base que incluye el navbar y footer -->
{% extends 'base.html' %}

<!-- Carga los archivos estaticos -->
{% load static %}

{% block title %} Acerca de {% endblock title %}

{% block css %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/acerca_de.css' %}">
{% endblock css %}

{% block content %}

<div class="container main-content">
  <div class="text-area">
    <h1>Conócenos un poco</h1>
  </div>

  <div class="aside-about-us">
    <aside class="first-about-us">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam perferendis repellendus ex minima veniam nihil esse ipsum, magnam fuga.</p>
      <img class="image-item" src="{% static 'images/img1.jpg' %}" alt="Imagen 1">
    </aside>
    <aside class="second-about-us">
      <img class="image-item" src="{% static 'images/img2.jpg' %}" alt="Imagen 2">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam perferendis repellendus ex minima veniam nihil esse ipsum, magnam fuga.</p>
    </aside>
  </div>
</div>

{% endblock content %}
