<!-- Hereda del archivo html base que incluye el navbar y footer -->
{% extends 'base.html' %}

<!-- Carga los archivos estaticos -->
{% load static %}

{% block title %} Inicio {% endblock title %}

{% block css %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block content %}

<div class="container main-content">
  <div class="text-area">
    <h1>Crea momentos inolvidables</h1>
    <p><small>Servicios para todo tipo de eventos</small></p>
    <a type="button" class="btn btn-secondary" href="{% url 'servicios_sin_login' %}">Explorar</a>
  </div>
  <div class="image-gallery">
    <div class="image-item"><img src="{% static 'images/img1.jpg' %}" alt="imagen 1"></div>
    <div class="image-item"><img src="{% static 'images/img2.jpg' %}" alt="imagen 2"></div>
    <div class="image-item"><img src="{% static 'images/img3.jpg' %}" alt="imagen 3"></div>
    <div class="image-item"><img src="{% static 'images/img4.jpg' %}" alt="imagen 4"></div>
    <div class="image-item"><img src="{% static 'images/img5.jpg' %}" alt="imagen 5"></div>
    <div class="image-item"><img src="{% static 'images/img6.jpg' %}" alt="imagen 6"></div>
  </div>
</div>

{% endblock content %}

