<!-- Hereda del archivo html base que incluye el navbar y footer -->
{% extends 'base.html' %}

<!-- Carga los archivos estaticos -->
{% load static %}

{% block title %} Regístrate {% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registro_proveedor.css' %}">
{% endblock css %}

{% block content %}

<section class="register-container">
    <form method="POST" class="register-form">
        {% csrf_token %}
        <h2>Regístrate como proveedor</h2>

        <!-- Esto generará los campos del formulario y los mensajes de error automáticamente -->
        {{ form.as_p }}

        <button type="submit" class="register-btn">Registrarse</button>

        <label>¿Ya tienes una cuenta? <a href="{% url 'inicio_sesion' %}">Da clic aquí</a></label>

        {% load socialaccount %}
        {% providers_media_js %}

        <div class="social-register">
            <div class="social-btn">
                <a href="{% provider_login_url 'google' %}" class="google-btn">
                    <img src="{% static 'images/google_logo.png' %}" alt="Google logo" class="google-logo">
                    Registrarse con Google
                </a>
            </div>
            <div class="social-btn">
                <button type="button" class="apple-btn">
                    <img src="{% static 'images/apple_logo.png' %}" alt="Apple logo" class="google-logo">
                    Registrarse con Apple
                </button>
            </div>
            <div class="social-btn">
                <button type="button" class="facebook-btn">
                    <img src="{% static 'images/facebook_logo.png' %}" alt="Facebook logo" class="google-logo">
                    Registrarse con Facebook
                </button>
            </div>
        </div>

        <label>¿Deseas contratar servicios? <a href="{% url 'registro_cliente' %}">Registrarse como cliente
                aquí</a></label>
    </form>
</section>

{% endblock content %}